h2 {
    font-family: arial;
}

h1 {
    font-family: times;
}

img {
    width: 200px;
}

body {
    text-align: center;
    font-family: fantasy;
}

p {
    font-family: georgia;
}

li {
    font-family: arial;
}

.gold-text {
    color: gold;
}

.green-text {
    color: darkgreen;
}

.XL {
    width: 150px;
}

.X {
    width: 300px;
}

.border {
    border-color: red;
    border-width: 2px;
    border-style: solid;
}

.border2 {
    border-color: orange;
    border-width: 2px;
    border-style: solid;
}

.red-text {
    color: red;
}

.backivory {
    background-color: ivory;
}

.goldrod-text {
    color: goldenrod;
}

.dblue-text {
    color: dodgerblue;
}

.XXL {
    width: 800px;
}

.LockScreen {
    width: 1200px;
}

.ULTRA {
    width: 3126px;
}